/* Profile Container Centered */
.profile-container {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px; /* Ajuste para que no se superponga con el header */
    box-shadow: 0 0 5px #777;
    max-width: calc(100% - 550px); 
    min-width: 750px;
    width: calc(100% - 200px); /* Asegura que el contenedor esté centrado */
    padding: 40px;
    margin-left: calc(125px + 100px); /* Margen izquierdo del sidebar + mitad del espacio restante */
}

.profile-section {
    margin-bottom: 30px;
}

.profile-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #1d549b;
    padding-bottom: 5px;
}

.profile-section p, .profile-section ul, .profile-section table {
    font-size: 16px;
    color: #555;
}

.profile-section ul {
    list-style-type: none;
    padding-left: 0;
}

.profile-section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.profile-section table {
    width: 100%;
    border-collapse: collapse;
}

.profile-section table th,
.profile-section table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.profile-section table th {
    background-color: #1d549b;
    color: white;
}

.profile-section table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
}

button[type="submit"], button[type="button"] {
    padding: 12px 20px;
    background-color: #1d549b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #004d40;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    bottom: 0;
}
