/* Estilo minimalista del scrollbar */
body{
    overflow-y: scroll;
}

.emergen::-webkit-scrollbar {
    width: 8px;
}

.emergen::-webkit-scrollbar-thumb {
    background-color: #a31e1e99;
    border-radius: 10px;
}

.trasla::-webkit-scrollbar {
    width: 8px;
}

.trasla::-webkit-scrollbar-thumb {
    background-color: #3058c799;
    border-radius: 10px;
}


.notifications-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(196, 196, 196, 0.2);
}

.notifications-container::-webkit-scrollbar-track {
    background: transparent;
}

.noti{
    display: flex;
    justify-content: space-between;
}

.caja{
    background-color: #1d1d1d;
    height: 40px;
    width: calc(100vh - 100px);
    max-width: calc(100vh - 270px);
    margin: 24px 15px 0;
    border-radius:5px ;
}

h2{
    margin: 0;
    margin-left: 15px;
    margin: auto;
    padding: 0;
    width: 300px;
    text-align: center;
    border-radius: 6px;
    font-size: 34px;
    padding: 20px;
    background-color: #202020;
}

/* Manteniendo el diseño existente */
.content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 90px);
    padding: 20px;
    padding-top: 8px;
    box-sizing: border-box;
}

.section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00000050;
    padding: 20px;
    margin: 15px;
    border-radius: 6px;
}



.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.title--emer {
    background-color: #bd4545;
}

.title--tras {
    background-color: #1e88df;
}

.notifications-container {
    flex-grow: 1;
    padding: 10px;
    padding-left: 5px;
    padding-top: 0;
    overflow-y: auto;
    max-height: 490px;
}

.notification-box {
    color: #ffffff;
    padding: 15px;
    padding-bottom: 6px;
    margin: 5px 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.noti-box-emer:hover {
    background-color: #c4362c;
}

.noti-box-tras:hover {
    background-color: #186eb4;
}

.notification-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 0;
}

.notification-time {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ffe;
}

.notification-description {
    font-size: 16px;
    color: #fff;
}

.noti-box-emer {
    background-color: #f44336;
}

.noti-box-tras {
    background-color: #2196F3;
}
