body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Montserrat, sans-serif;
    color: #222;
}

.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('images/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.header__logo {
    margin-right: 5px;
    width: 80px;
    margin-top: 30px;
}

.header__title {
    margin: 30px 0 0;
    font-weight: 500;
}

.form {
    background: #eee;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #222;
}

.form--login {
    height: 450px;
}

.form--register {
    height: 500px;
}

.form__title {
    text-align: center;
    margin: 10px 0 30px;
    font-weight: 500;
}

.title--login{
    margin: 15px 0;
}

.form__subtitle {
    font-size: 16px;
    margin: 30px 0 10px;
    text-align: center;
    font-weight: 500;
}

.form__link {
    color: #5dade2;
    width: 100px;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    display: block;
    margin: 0 auto 25px;
}

.form__link:hover,
.form__forgot-password:hover {
    color: #5e83ae;
    cursor: pointer;
}

.form__main {
    display: flex;
    flex-direction: column;
}

.form__label {
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 2px;
}

.form__label--checkbox {
    font-size: 13px;
    margin: 0;
}

.form__input,
.form__select {
    padding: 8px;
    background: #eee;
    border: none;
    border-bottom: 1px solid #bbb;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    transition: border-bottom 0.3s ease;
}

.form__input:focus,
.form__select:focus{
    border-bottom: 1px solid #777;
}

.form__input:focus,
.form__select:focus{
    outline: none;
    background: #ecebeb;
}

.form__input:hover,
.form__select:hover{
    border-bottom: 2px solid #5dade2;
    background: #dfdede;
}

.form__input::placeholder {
    color: #666;
}

.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 6px;
}

.group--margin{
    margin-bottom: 25px;
}

.form__checkbox {
    cursor: pointer;
    accent-color: #5dade2;
    margin: 0 5px 0 0;
    width: 20px;
}

.form__checkbox:checked {
    accent-color: #859dc7;
}

.form__button {
    color: #eee;
    width: 270px;
    text-align: center;
    cursor: pointer;
    background: #5dade2;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    height: 35px;
    margin: 25px auto 0;
    display: block;
}

.form__button:hover {
    background: #779ECB;
}

.form__button:active {
    background: #5e83ae;
}

.form__forgot-password {
    color: #5dade2;
    text-align: center;
    font-size: 14px;
    margin: 10px auto;
    width: 203px;
}

.footer {
    width: 400px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    margin: auto;
    margin-top: 25px;
}

.footer--margin{
    margin-top: 25px;
}





