/* Profile Container Centered */
body{
    font-family: Montserrat, sans-serif;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px; /* Ajuste para que no se superponga con el header */
    box-shadow: 0 0 5px #777;
    max-width: calc(100% - 550px); 
    min-width: 750px;
    width: calc(100% - 200px); /* Asegura que el contenedor esté centrado */
    padding: 40px;
    margin-left: calc(125px + 100px); /* Margen izquierdo del sidebar + mitad del espacio restante */
}

.profile-section {
    margin-bottom: 30px;
}

.profile-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #1d549b;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
}

#search-date{
    width: 130px;
    cursor:text;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

button[type="submit"]{
    padding: 12px 20px;
    background-color: #1d549b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 10px;
    width: 150px;
}

button[type="submit"]:hover {
    background-color: #0763a0;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    bottom: 0;
}
