
body{
    overflow-y: scroll;
}

.noti{
    display: flex;
    justify-content: space-between;
}

.caja{
    background-color: #1d1d1d;
    height: 40px;
    width: calc(100vh - 100px);
    max-width: calc(100vh - 270px);
    margin: 24px 15px 0;
    border-radius:5px ;
}

h2{
    margin: 0;
    margin-left: 15px;
    margin: auto;
    padding: 0;
    width: 300px;
    text-align: center;
    border-radius: 6px;
    font-size: 34px;
    padding: 20px;
    background-color: #202020;
}

.content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 90px);
    padding: 20px;
    padding-top: 8px;
    box-sizing: border-box;
    gap: 10px;
}

.emergency-section {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00000050;
    padding: 20px;
    margin: 15px;
    border-radius: 6px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    background-color: #bd4545;
}

.notifications-container {
    flex-grow: 1;
    padding: 10px;
    padding-left: 5px;
    padding-top: 0;
    overflow-y: auto;
    max-height: 490px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.fadeInDown {
    animation: fadeInDown 0.2s ease-out;
}



.notification {
    position: relative;
    color: #ffffff;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 6px;
    margin: 5px 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #cc3e34;
    opacity: 0; /* Empieza invisible */
    animation: fadeInDown 0.5s forwards;
}

.notification .close-btn {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #d35d55;
    border: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}

.notification .close-btn:hover {
    color: #800000;
}

.notification p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 340px; 
}

.notification h3{
    margin-top:10px ;
}

.notification:hover {
    background-color: #b1332a;
}

.emergen::-webkit-scrollbar {
    width: 8px;
}

.emergen::-webkit-scrollbar-thumb {
    background-color: #a31e1e99;
    border-radius: 10px;
}

.notifications-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(209, 209, 209, 0.2);
}

.notifications-container::-webkit-scrollbar-track {
    background: transparent;
}

.notification-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 0;
}

.notification-time {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ffe;
}

.notification-description {
    font-size: 16px;
    color: #fff;
}


.patient-section {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 5px;
    margin: 15px;
    background-color: #ffffffdc;
    border-radius: 6px;
}

.ficha-paciente__titulo {
    background-color: #1d549b;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}



.ficha-paciente__linea-info{
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 400;
}


.ficha-paciente__info-column{
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
}

.ficha-paciente__etiqueta {
    color: #333;
    font-weight: bold;
}

#patient-name,#patient-lastname{
    color: #333;
    font-size: 16.5px;
    font-weight: 400;
    padding: 5px;
    padding-bottom: 2px;
    margin: 4px 5px 10px;
    width: 170px;
    border: none ;
    border-bottom: 2px solid #1d549b80;
    text-align: left;
}

#patient-age{
    color: #333;
    font-size: 16.5px;
    font-weight: 400;
    padding: 5px;
    padding-bottom: 2px;
    margin: 4px 5px 10px;
    width: 70px;
    border: none ;
    border-bottom: 2px solid #1d549b80;
    text-align: left;
}

.ficha-paciente__seccion-presion {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.ficha-paciente__afectaciones {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.ficha-paciente__titulo-afectaciones {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    color: #222;
    align-self: flex-start;
}

.ficha-paciente__entrada-larga {
    width: 100%;
}

.ficha-paciente__valores-presion {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 5px;
    border-radius: 8px;
}

.ficha-paciente__titulo-presion{
    color: #333;
    background: transparent;
    font-size: 19px;
    padding: 0;
}

.ficha-paciente__presiones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.ficha-paciente__presion {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#patient-blood-pressure-systolic, 
#patient-blood-pressure-diastolic {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    padding: 9px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    background-color: #a0c0e252;
    border: 1px solid #b9d1e7;
    color: #222;
}

.ficha-paciente__separador {
    font-size: 24px;
    color: #000000;
    margin: 0 10px;
    margin-top: 30px;
}

#patient-conditions {
    color: #222;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    background-color: #6f9dce41;
    border: 1px solid #adcfeef1;
    height: 100px;
    width: 100%;
    padding: 10px;
    padding-top: 8px;
    border-radius: 5px;
    resize: none;
    overflow: auto;
    box-shadow: 0 5px 10px #cacaca67;
}


#patient-conditions::-webkit-scrollbar {
    width: 10px;
}

#patient-conditions::-webkit-scrollbar-thumb {
    background-color: #6f9dce; 
    border-radius: 10px; 
    border: 2px solid #adcfeee7; 
}

#patient-conditions::-webkit-scrollbar-thumb:hover {
    background-color: rgb(120, 175, 226); 
}

#patient-conditions::-webkit-scrollbar-track {
    background-color: #f0f4f8; 
    border-radius: 10px;
}


.mapa-contenedor {
    position: relative; /* Permite posicionar elementos hijos */
    display: flex;
    justify-content: center; /* Centra el mapa en el contenedor */
    align-items: center; /* Centra verticalmente el mapa */
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40%;
    width: 100%;
    overflow: hidden;
    gap: 10px;
    box-shadow: 0 2px 10px #c9c9c9;
    border-radius: 10px;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.mapa-contenedor__llegada-estimada {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    width: auto; 
    margin: 0;
    padding: 10px; 
    background: rgba(99, 99, 99, 0.8); 
    border-radius: 8px; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.llegada {
    text-align: center;
    margin: 0;
}

.tiempo {
    text-align: center;
    margin: 0;
}





