
.profile-container {
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px; 
    box-shadow: 0 0 5px #777;
    max-width: calc(100% - 550px); 
    min-width: 750px;
    width: calc(100% - 200px); 
    padding: 40px;
    margin-left: calc(125px + 100px); 
}


.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #1d549b;
    margin-bottom: 20px;
}

.profile-name {
    color: #444;
    font-size: 28px;
    margin: 0 0 5px;
}

.profile-role, .institution {
    font-size: 18px;
    margin: 5px 0;
    font-weight: 400;
    color: #555;
}

.profile-body {
    width: 100%;
}

.profile-section {
    margin-bottom: 30px;
}

.profile-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #1d549b;
    padding-bottom: 5px;
}

.profile-section p, .profile-section ul {
    font-size: 16px;
    color: #555;
}

.profile-section ul {
    list-style-type: none;
    padding-left: 0;
}

.profile-section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #1d549b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #004d40;
}

.footer {
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    bottom: 0;
}
